@inherits LayoutComponentBase

<MudRTLProvider RightToLeft="true">
    <MudThemeProvider Theme="_themeChangerButton.CurrentTheme" />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <MudLayout>
        <MudAppBar Elevation="1" Fixed="true">
            <MudGrid Justify="Justify.SpaceBetween">
                <div class="d-flex align-center">
                    <RightAppBarButtons />
                    <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
                        <MudMenu Icon="@Icons.Filled.Menu" Color="Color.Inherit">
                            <MudMenuItem><RightAppBarButtons AsMenuItem="true" /></MudMenuItem>
                        </MudMenu>
                    </MudHidden>
                </div>

                <div class="d-flex align-center">
                    <LeftAppBarButtons />
                    <ThemeChangerButton RefreshAction="() => StateHasChanged()" Edge="Edge.End" @ref="_themeChangerButton" />
                </div>
            </MudGrid>
        </MudAppBar>
        <MudMainContent>
            <MudContainer MaxWidth="MaxWidth.Large" Class="mt-3">
                @Body
            </MudContainer>
        </MudMainContent>
    </MudLayout>
</MudRTLProvider>

@code {
    private ThemeChangerButton _themeChangerButton = new();
}
